
Get-OnlineVerFirefox.TempPoint.ps1
Get-OnlineVerVMWarePlayer.TempPoint.ps1
Get-OnlineVerAtlassianCompanion.TempPoint.ps1
Get-OnlineVer7Zip.TempPoint.ps1
Get-OnlineVerAtlassianCompanion.TempPoint.ps1
